@import '../../_variables.scss';

/* Sección Home */

#home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  position: relative;

  @media (max-width: 991px) {
    flex-direction: column;
    padding: 50px 0;
  }
}

.home__background {
  width: 100%;
  height: 100%;
  background-color: $veryperi;
  position: absolute;
  z-index: -1;
}

picture {
  img {
    height: 250px;
    border-radius: 50%;
    margin-right: 40px;
    transition: filter 3s;

    @media (max-width: 991px) {
      margin: 30px 0;
    }

    @media (max-width: 767px) {
      height: 200px;
    }
  }
}

.home__description {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media screen and (max-width: 767px) {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  h1 {
    a {
      font-size: 60px;
      text-shadow: 1px 1px black;
      color: $color-year;

      @media (max-width: 991px) {
        font-size: 45px;
      }

      @media (max-width: 767px) {
        font-size: 30px;
      }

      &:hover {
        font-size: 65px;
        transition: 0.5s;
        cursor: pointer;

        @media (max-width: 991px) {
          font-size: 45px;
        }

        @media screen and (max-width:767px) {
          font-size: 30px;
        }
      }
    }
  }

  span {
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
    cursor: default;

    @media (max-width: 991px) {
      font-size: 35px;
    }

    @media (max-width: 767px) {
      font-size: 25px;
    }

    &:hover {
      font-size: 50px;
      transition: 0.5s;

      @media (max-width: 991px) {
        font-size: 35px;
      }

      @media (max-width: 767px) {
        font-size: 25px;
      }
    }

    &::after {
      font-size: 50px;
      content: ".";
      color: $color-year;
    }
  }
}
