@import '../../_variables.scss';

/* Footer */

.footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  p {
    color: $white;
  }

  a {
    color: $color-year;
  }
}
