@import '../../_variables.scss';

/* Footer */

.footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;

  p {
    color: $dark-grey;
  }

  a {
    color: $color-year;
  }
}
