$white: #f2f2f2;
$cream: #fff0c9;
$beige: #f5f5dc;
$grey: #a9a9a9;
$dark-grey: #555555;
$mountain-meadow: #30ba8f;
$green: #008744;
$viva-magenta: #ac354b;
$color-year: #ac354b;
$background-veryperi: #24243c;
$color-year-complementary-3: #3535ac;
$veryperi: #6868ac;
$color-year-complementary-1: #35ac96;
$color-year-complementary-2: #cbc82d;
$fenix: #e3b011;
$orange: #e34c26;
$red: #d62d20;
